# Ignorar node_modules
node_modules

# Ignorar logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignorar builds locales
.next
dist
out

# Ignorar archivos de entorno
# .env
# .env.*
# !.env.example

# Ignorar git
.git
.gitignore
